.home_main {
    margin-top: -6px;
    display: flex;
    flex-direction: column;
    padding: 2em 0 0 0;
}

svg {
    width: 100%;
    filter: drop-shadow(3px 3px rgba(220, 20, 60, 0.526));
}

.filled-heading {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

#background path {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

#background path:nth-of-type(2n) {
    animation: rotate 20s linear infinite;
}

#background path:nth-of-type(2n + 1) {
    animation: rotate 30s linear reverse infinite;
}

.lower_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0 4em 0;
}

.lower_title img {
    width: 3em;
    cursor: pointer;
    animation: moveArrowY 1s alternate-reverse infinite;
    filter: drop-shadow(10px 10px 4px #4444dd);
}

.parallax_home {
    min-height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../images/hero.jpg");
}

@keyframes moveArrowY {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(20px)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 700px) {
    .parallax_home {
        min-height: 400px;
    }

    .home_main {
        flex-direction: row;
        padding: 5em 0 2em 0;
    }

    svg {
        width: 80%;
        filter: drop-shadow(5px 5px rgba(220, 20, 60, 0.526));
    }

    .lower_title img {
        width: 4em;
    }
}

@media only screen and (min-width: 1000px) {
    .parallax_home {
        min-height: 550px;
    }

    .filled-heading {
        font-size: 4.5rem;
    }
}